.container{
    display: flex;
    height: auto;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 100vw;
    height: auto;
    }

.body{
    width: 100%;
    padding: 5%;
    display:flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    height: auto;
    gap:100px;

}
.contactForm{
    width: 100%;
    padding:1em;
}

.sectionOne{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    min-height: 400px;
    height: auto;
}

.title{
    text-transform: uppercase;
    align-self: flex-start;
    font-weight: 500;
    font-size: 24px;
}

.addressContainer{
    font-style: normal;

}
.contacts{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-self: flex-end;
    justify-content: center;
    align-items: flex-start;
    transform: translateX(-20%);

}
.contacts span{
    line-height: 1.5em;
    font-weight: 600;
    transform: translateX(-10%);


}
