.btn{
    padding-block: 1em;
    padding-inline: 1em;
    cursor: pointer;
    font-size: 18px;
    border-radius: 10px;
    text-transform: uppercase;
    border: gray 1px solid;
  }
  
  .btn:hover{
    background-color: black;
    color: whitesmoke;
    transition: .3s;
    }