.container{
    height: 40px;
    aspect-ratio: 1/1;
    gap:5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    z-index: 999;
    cursor: pointer;
}
.line{
    background-color: gray;
    height: 1px;
    width: 70%;
    border-radius: 30px;
}