.navbarContainer {
  box-sizing: border-box;
  flex-direction: column;
  display: flex;
  margin-top: 0;
  justify-content: center;
  list-style: none;
  position: fixed;
  z-index: 999;
  gap: 10%;
  overflow: hidden;
  background-color: white;
}

.navbarWrapper{
  display: flex;
  align-self: flex-end;
  width: fit-content;
}

.navFooter {
  font-weight: 400;
  font-size: 11px;
  color: gray;
}

@media (max-width: 600px) {

  .navbarContainer {
    display: flex;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(11, 15, 25, 0.1);
    border-radius: 3px;
    padding-inline: 5%;
    position: fixed;
    inset: 0;
    z-index: 999;
    overflow: hidden;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
  }

    .navbarWrapper{
    justify-content: center;
    
  }


  .navbarContainer::before,
  .navbarContainer::after,
  .hide::after {
    display: none;
  }
}
