.container{
    display: flex;
    width: 100%;
}
.items{
    cursor: pointer;
    font-size: 24px;
    list-style: none;
    width: 90vw;
    min-height: 100px;
    height: auto;
}
.questionContainer{
    width: 100%;
    font-weight: 500;
}
.questionContainer:hover{
    background-color: whitesmoke;
}
.answer{
    transition: .5s;
}