*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}
.appContainer{
  overflow-y: scroll;
  position: relative;
  flex-direction: column;
  z-index: 0;
  margin-top: 0;
  top:0;
  margin: 0;
  bottom: 0;
  height: auto;
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: #F5F5F7;
  transition:.5s;
  width: 100vw;
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
  
}

.menuWrapper{ 
  position:absolute;
  right: 0;
  top: 0;
  z-index: 999999;
  margin-top: 50px;
  margin-right: 5%;
  right: 0;
  top: 0;
}

.floatingMenuWrapper{

  width: auto;
  height: auto;
  position: fixed;
  top:50px;
  right: 5%;
  position: fixed;
  z-index: 99999;
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  border-radius: 50%;
  background-color: transparent;
}
.floatingMenu{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: black;
  overflow: hidden;
  /* box-shadow: 0px 4px 15px -3px rgba(0,0,0,0.1); */
  }

.headerWrapper{
  position: absolute;
  top: 0;
  left: 0;
} 

/* DARKMODECONTEXT */
/* Global */
#component-dark {
  background-color: #0B0E18;
  color: white;
  fill:white;
}

@media (max-width: 600px) {

  .appContainer{
    padding:0;
  }

.description{
        
  font-size: 14px;
  line-height: 2;
  margin-bottom: 10px;
  text-align: justify;
  margin-bottom: 2em;
}
 
.floatingMenuWrapper{
  right: 5%;
  top:2%;
}
}






